@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    @font-face {
        font-family: "SF-Pro";
        src: url("/public/fonts/SF-pro.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Tan-Pearl";
        src: url("https://db.onlinewebfonts.com/t/bb99de1682ee75602d351c1dde11a054.eot");
        src: url("/public/fonts/tanpearl.otf") format("woff");
        font-weight: normal;
        font-style: normal;
    }

    /* @font-face {
        font-family: "SF-Pro-Display";
        src: url("public/fonts/sf-pro-display.otf") format("otf");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Apercu";
        src: url("https://db.onlinewebfonts.com/t/bb99de1682ee75602d351c1dde11a054.eot");
        src: url("../../public/fonts/tan-pearl.woff") format("woff"),
            url("../../public/fonts/tan-pearl.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    } */
}
