@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@font-face {
    font-family: "Pearl";
    src: url("/Fonts/tan-pearl.otf");
    font-weight: 500;
    font-style: normal;
}
