@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    @font-face {
        font-family: "SF-Pro";
        src: url("/public/fonts/sf-pro.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Tan-Pearl";
        src: url("https://db.onlinewebfonts.com/t/bb99de1682ee75602d351c1dde11a054.eot");
        src: url("/public/fonts/tanpearl.otf") format("woff");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "SF-Pro-Display";
        src: url("public/fonts/sf-pro-display.otf") format("otf");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "SF-Pro-Display-Black";
        src: url("public/fonts/SF-Pro-Display-Black.otf") format("otf");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "SF-Pro-Rounded";
        src: url("/public/fonts/SF-Pro-Rounded.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Apercu";
        src: url("/public/fonts/apercu-bold.ttf") format("ttf");
    }
}

/* calendar */
.fc-toolbar-title {
    font-size: 2rem;
    font-family: "Tan-Pearl";
    color: #718355;
    cursor: default;
}
#calendar .fc-day-today {
    background-color: rgba(113, 131, 85, 0.3);
    color: #718355;
}
#calendar .fc-daygrid-day-number {
    font-family: "Tan-Pearl";
}
#calendar .fc-button {
    text-transform: capitalize;
    background-color: #718355;
    border-color: #fff;
    border-radius: 12px;
}
#calendar .fc-button-group {
    gap: 0.4rem;
}
#calendar .fc-button:hover {
    background-color: #cfe1b9;
    color: #151515;
}
#calendar .fc-button-primary:focus {
    box-shadow: 0 0 0 2px #cfe1b9; /* Optional: Change focus outline color */
}

/* event in calendar */
.fc-event-title {
    font-size: 14px;
    font-weight: 400;
}
/* events in calendar */
.fc-event {
    padding: 8px;
    background-color: #718355;
    border-radius: 6px; /* Rounded corners */
    border: #718355;
}

/* scrollbar in dashboard */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #718355;
    border-radius: 0.25rem;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #151515;
}
/* gpt nalang pag gusto ma support yung other browsers */
